// bower:scss
// endbower

$url-2: url(../img/waves.jpg);
$url-3: url(../img/poker-joe.png);
$url-4: url(../img/rock-bg-texture.jpg);
$url-5: url(../img/rock-mask.png);
$url-6: url(../img/logo-full.png); //wave
$url-7: url(../img/logo-full.svg);
$url-8: url(../img/logo-joe.png);
$url-9: url(../img/logo-joe.svg);
$url-10: url(../img/logo-norris.png);
$url-11: url(../img/logo-norris.svg);
$url-12: url(../img/logo-frame.png);
$url-13: url(../img/logo-frame.svg);
